<!-- <app-form [metaData]='metadata' [calendarTemp]='calendarRef'>
  <ng-template #calendarRef let-data>
  <p-calendar  [showIcon]='data.showIcon' [showWeek]='data.showWeek' [minDate]='data.minDate' [selectionMode]="data.selectionMode ? data.selectionMode: 'multiple'"></p-calendar>
</ng-template>
</app-form> -->

<div class='container'>
  <div class='card'>
    <div class='editField'>
      <input class='inputCls' type='number'/>
    </div>
    <div class='buttonField'>
      <button class='buttons'>1</button>
      <button class='buttons'>2</button>
      <button class='buttons'>3</button>
      <button class='buttons operators'>+</button>
      <button class='buttons'>4</button>
      <button class='buttons'>5</button>
      <button class='buttons'>6</button>
      <button class='buttons operators'>-</button>
      <button class='buttons'>7</button>
      <button class='buttons'>8</button>
      <button class='buttons'>9</button>
      <button class='buttons operators'>*</button>
      <button class='buttons'>C</button>
      <button class='buttons'>0</button>
      <button class='buttons'>=</button>
      <button class='buttons operators'>/</button>
    </div>

  </div>
</div> 